<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
  <% if (theme.favicon) { %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <% if (theme.source_han_font) { %>
  <% } %>
  <%- css('css/style') %>
  <!-- 代码高亮库 -->
  <%- css('css/normalize/prism.css') %>
  <%- js({src: 'js/pager/dist/prism.js'}) %>
  <!-- <link rel="stylesheet" -->
  <!-- 字体图片库 -->
  <%- css('lib/font-awesome-4.7.0/css/font-awesome.min.css') %>
</head>
